/*--- Global ---*/

:root {
  --gray: #4b4b4b;
}

body {
  margin: 0 auto;
  color: var(--gray);
  height: 100vh;
  width: 100vw;
  font-family: "Source Code Pro", monospace;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  background: white;
  font-size: 1.2em;
}

a {
  color: var(--gray);
  text-decoration: none;
  font-size: 2em;
}

li {
  list-style: none;
}

.desc {
  margin-top: -20px;
}

.fa {
  width: 55px;
  height: 60px;
}

.fa-twitter:hover {
  color: #f6e58d;
  text-shadow: 0px 0px 8px #f6e58d;
}

.fa-instagram:hover {
  color: #ff7979;
  text-shadow: 0px 0px 8px #ff7979;
}

.fa-github:hover {
  color: #535c68;
  text-shadow: 0px 0px 8px #535c68;
}

.fa-codepen:hover {
  color: #7ed6df;
  text-shadow: 0px 0px 8px #7ed6df;
}

.fa-linkedin:hover {
  color: #5352ed;
  text-shadow: 0px 0px 8px #5352ed;
}

.logos {
  height: 80px;
  width: 100px;
  margin: 10px 5px 10px 5px;
}

.tech-logos {
  width: 450px;
}

.tech {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 400px) {
  .tech-logos {
    width: 95vw;
  }
}
